# Check dev info: udevadm info -a -p  $(udevadm info -q path -n /dev/ttyUSB0)
# Reload udev: sudo udevadm control --reload-rules & udevadm trigger

# RPLIDAR
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="RPLIDAR", MODE="0666"

# Barcode Scanner
SUBSYSTEM=="usb", ATTR{idVendor}=="1a86", ATTR{idProduct}=="5453", MODE="666"

# RS485 PTZ Camera
SUBSYSTEM=="tty", ATTR{idVendor}=="1a86", ATTR{idProduct}=="7523", SYMLINK+="PTZ", MODE="0666"